form.login-form
  h1 TICKETMAN
  .login-message
  .form-field
    label.fa.fa-user
    input.form-input.input-username(name="username", placeholder="username")
  .form-field
    label.fa.fa-lock
    input.form-input.input-password(name="password", type="password", placeholder="password")
  .form-field
    label.fa.fa-github
    input.btn.btn-login(type="submit", value="Login")
