header
  Set Notification
.notif-option
  input(type="radio", name="notification-time", value="later")
  span Later Today
.notif-option
  input(type="radio", name="notification-time", value="later")
  span Tomorrow
.notif-option
  input(type="radio", name="notification-time", value="later")
  span Later thiw Week
.notif-actions
  button.btn Cancel
  button.btn Set Alert
