.notification
  header
    Set Notification
  .notif-option
    label
      input(type="radio", name="notification-time", value="later-today")
      span Later Today
  .notif-option
    label
      input(type="radio", name="notification-time", value="tomorrow")
      span Tomorrow
  .notif-option
    label
      input(type="radio", name="notification-time", value="later-this-week")
      span Later thiw Week
  .notif-actions
    button.btn.cancel Cancel
    button.btn.set Set Alert
