doctype html
html
  head
    link(rel="stylesheet" href="stylesheets/all.min.css")
    script(src="javascripts/all.min.js")

  body
    button.notifyme Click Me To Show Up A Notification

    .section-login
      form.login-form
        .form-field
          label.fa.fa-user
          input.form-input.input-username(name="username")
        .form-field
          label.fa.fa-lock
          input.form-input.input-password(name="password", type="password")
        .form-field
          button.btn.btn-login Login

    .section-loading
      .loader-54

    .section-main
      button.back Back

      div.list-issue-type
        div.tab-section.created
        div.tab-section.assigned
        div.tab-section.mentioned
        div.tab-section.starred
          ul.list-repo
            li.repo 
              h2 Scarecrow-rules
              ul.list-issues
                li.issue
                  i.fa.fa-star-o.fa-lg
                  h3.issue-title CA - name canonicalizing improvements
                  .container-issue-details
                    .container-right.pull-right
                      span.date 4/13/2015
                      span.fa.fa-calendar-o
                li.issue
                  i.fa.fa-star-o.fa-lg
                  h3.issue-title Website datatype extracting
                  .container-issue-details
                    .container-right.pull-right
                      span.date 4/13/2015
                      span.fa.fa-calendar-o
                li.issue
                  i.fa.fa-star.fa-lg
                  h3.issue-title Crosswalk inline datatypes
                  .container-issue-details
                    .container-right.pull-right
                      span.date 4/13/2015
                      span.fa.fa-calendar
            li.repo 
              h2 Scarecrow
              ul.list-issues
                li.issue
                  i.fa.fa-star-o.fa-lg
                  h3.issue-title issue Improve Grammar
                  .container-issue-details
                    .container-right.pull-right
                      span.date 4/13/2015
                      span.fa.fa-calendar-o
                li.issue
                  i.fa.fa-star-o.fa-lg
                  h3.issue-title Add color to Extractions Logging CLI
                  .container-issue-details
                    .container-right.pull-right
                      span.date 4/13/2015
                      span.fa.fa-calendar-o
            li.repo 
              h2 Stitch
            li.repo 
              h2 Hadoop Extraction Workflow
