doctype html
html
  head
    link(rel="stylesheet" href="stylesheets/all.min.css")
    script(src="javascripts/all.min.js")

  body
    button.notifyme Click Me To Show Up A Notification

    .section-login
      include login

    .section-loading
      .loader-54

    .section-main
      button.back Back

      ul.list-issue-type
        li.created
          ul.list-repo
            li.repo 
              h2 Scarecrow-rules
              ul.list-issues
                li.issue
                  .container-issue-details
                    i.fa.fa-star-o.pull-left.fa-lg
                    h3.issue-title issue title here 
                    span.date 4/13/2015
                    span.fa.fa-calendar-o
                li.issue
                  .container-issue-details
                    i.fa.fa-star-o.pull-left.fa-lg
                    h3.issue-title issue title here 
                    span.date 4/13/2015
                    span.fa.fa-calendar-o
                li.issue
                  .container-issue-details
                    i.fa.fa-star.pull-left.fa-lg
                    h3.issue-title issue title here 
                    span.date 4/13/2015
                    span.fa.fa-calendar
            li.repo 
              h2 Scarecrow
              ul.list-issues
                li.issue
                  .container-issue-details
                    i.fa.fa-star-o.pull-left.fa-lg
                    h3.issue-title issue title here 
                    span.date 4/13/2015
                    span.fa.fa-calendar-o
                li.issue
                  .container-issue-details
                    i.fa.fa-star-o.pull-left.fa-lg
                    h3.issue-title issue title here 
                    span.date 4/13/2015
                    span.fa.fa-calendar-o
            li.repo 
              h2 Stitch
            li.repo 
              h2 Hadoop Extraction Workflow
        li.assigned
        li.mentioned
        li.starred
