doctype html
html(ng-app ng-csp)
  head
    link(rel="stylesheet" href="stylesheets/all.min.css")
    script(src="javascripts/all.min.js")

  body
    div(ng-init="shownPanel = 'login'")

    include login
    .section-main(ng-show="shownPanel == 'main'")
      strong.message Main Panel

      ul.tabs
        li.issue-type-created
          ul.repo-list
            li.repo
              ul.list-issues
                li.issue
                  .container-issue-details
                    span.starred star-icon
                    h3.issue-title issue title here 
                    span.date 4/13/2015
                    span.snooze snooze-icon
            li.repo
            li.repo
            li.repo
        li.issue-type-assigned
        li.issue-type-mentioned
        li.starred
