doctype html
html
  head
    link(rel="stylesheet" href="stylesheets/all.min.css")
    script(src="javascripts/all.min.js")

  body
    

    button.notifyme Click Me To Show Up A Notification

    .screen.section-login
      include login

    .screen.section-loading
      .loader-54

    .screen.section-notification
      button.btn.notif-close
      .notif-option
        input(type="radio", name="notification-time", value="later")
        span Later Today
      .notif-option
        input(type="radio", name="notification-time", value="later")
        span Later Today
      .notif-option
        input(type="radio", name="notification-time", value="later")
        span Later Today
      .notif-actions
        button.btn Cancel
        button.btn Set Alert

    .screen.section-main

    .section-main
      .header
        .log-out.pull-right
          label.fa.fa-sign-out
          button.btn.btn-log-out Log Out
        nav
          h1.selected Issues
          h1 Starred

      div.list-issue-type
        div.tab-section.created
        div.tab-section.assigned
        div.tab-section.mentioned
        div.tab-section.starred
