doctype html
html
  head
    link(rel="stylesheet" href="stylesheets/all.min.css")
    script(src="javascripts/all.min.js")

  body
    button.notifyme Click Me To Show Up A Notification

    .section-login
      include login

    .section-loading
      .loader-54

    .section-main
      .log-out.pull-right
        label.fa.fa-sign-out
        button.btn.btn-log-out Log Out

      div.list-issue-type
        div.tab-section.created
        div.tab-section.assigned
        div.tab-section.mentioned
        div.tab-section.starred
