doctype html
html
  head
    link(rel="stylesheet" href="stylesheets/all.min.css")
    script(src="javascripts/all.min.js")

  body
    button.notifyme Click Me To Show Up A Notification
    .screen-modal
    .section-notification
      include notification
    .screen.section-login
      include login
    .screen.section-loading
      .loader-54
      

    .screen.section-main
      .header
        .log-out.pull-right
          label.fa.fa-sign-out
          button.btn.btn-log-out Log Out
        nav
          h1.selected 
            i.fa.fa-bug 
            label Issues
          h1
            i.fa.fa-star
            label Starred

      div.list-issue-type
        div.tab-section.created
        div.tab-section.assigned
        div.tab-section.mentioned
        div.tab-section.starred
