// CSS

@import url('fonts/OpenSans-Regular')

body
  width: 600px
  font-family: 'Open Sans', Arial, sans-serif

ul
  list-style-type: none
  padding: 10px 0

.fa-star-o, .fa-calendar-o
  color: Silver

.fa-star
  color: Gold
 
.fa-calendar
  color: MediumSeaGreen

h2, h3
  color: Grey
