// CSS

@import url('fonts/OpenSans-Regular')

body
  width: 600px
  font-family: 'Open Sans', Arial, sans-serif
  margin: 0

// Login page styles

.section-login
  margin: 20px auto 0
  width: 205px

.section-login .form-input
  font: normal normal normal 14px/1 'Open Sans'

label, .form-input
  border: 1px solid #BABABA
  font-size: 16px

label
  background-color: #DEDEDE
  border-right: none
  border-top-left-radius: 2px
  border-bottom-left-radius: 2px
  padding: 12px

.form-input
  border-top-right-radius: 2px
  border-bottom-right-radius: 2px
  margin-bottom: 12px
  padding: 9.5px

.btn
  border: 2px solid #46b98a
  background-color: white
  font-weight: bold
  color: #46b98a
  border-radius: 2px 2px 2px 2px
  cursor: pointer
  display: inline-block
  font-size: 12px
  padding: 7px 10px
  transition: all 0.3s ease 0s
  -moz-transition: all 0.3s ease 0s
  -webkit-transition: all 0.3s ease 0s

.btn-login:hover
  background-color: #46b98a
  color: white

// Issues page styles

ul
  list-style-type: none
  padding: 10px 0

.issue
  padding: 6px 12px 0 12px
  border-bottom: 1px solid LightGrey

.issue:hover
  background-color: WhiteSmoke

.issue-title
  display: inline-block
  margin: 0

.container-issue-details
  padding-bottom: 4px
  min-height: 18px

.date
  color: Grey

h2, h3
  color: DimGrey
  font-weight: normal


// Awesome font icon styles
.fa-star-o, .fa-calendar-o
  color: Silver

.fa-star, .fa-star-o
  padding-right: 12px

.fa-star
  color: Gold
 
.fa-calendar, .fa-calendar-o
  padding-left: 12px

.fa-calendar
  color: MediumSeaGreen

.tab-section, .notifyme, .back
  display: none
