// CSS

@import url('fonts/OpenSans-Regular')

body
  width: 600px
  font-family: 'Open Sans', Arial, sans-serif

ul
  list-style-type: none
  padding: 10px 0

.issue
  padding: 12px 12px 0 0
  border-bottom: 1px solid LightGrey

.issue:hover
  background-color: WhiteSmoke

.issue-title
  display: inline-block
  padding: 0 0 8px 0
  margin: 0

.container-issue-details
  padding: 10px 0
  min-height: 18px

.date
  color: Grey

h2, h3
  color: DimGrey
  font-weight: normal

// Awesome font icon styles
.fa-star-o, .fa-calendar-o
  color: Silver

.fa-star
  color: Gold
 
.fa-calendar, .fa-calendar-o
  padding-left: 12px

.fa-calendar
  color: MediumSeaGreen
